.me-auto {
  margin-right: 1vw !important;
  margin-left: auto;
}

.nav-link {
  color: #0d6efd !important;
}

.nav-link.active {
  text-decoration: underline;
}

.bg-extra-dark {
  background-color: rgb(109, 117, 125);
}

.bg-dark-blue {
  background-color: rgb(24, 162, 184);
}
